################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Almotkaml.HR/.vs/config
/Almotkaml.HR/Almotkaml.HR.Domain/bin/Debug
/Almotkaml.HR/Almotkaml.HR.Domain/bin/Debug
/Almotkaml.HR/Almotkaml.HR.Abstraction
