################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Almotkaml.HR/.vs/config
/Almotkaml.HR/Almotkaml.HR.Domain/bin/Debug
/Almotkaml.HR/Almotkaml.HR.Domain/bin/Debug
/Almotkaml.HR/Almotkaml.HR.Abstraction
/Almotkaml.HR/Almotkaml.HR.Aldo/obj/Debug
/Almotkaml.HR/Almotkaml.HR.Aldo.Business/obj/Debug
/Almotkaml.HR/Almotkaml.HR.Aldo.Domain/obj/Debug
/Almotkaml.HR/Almotkaml.HR.Aldo.Models/obj/Debug
/Almotkaml.HR/Almotkaml.HR.Aldo.Mvc/obj/Debug
/Almotkaml.HR/Almotkaml.HR.Aldo.Repository/obj/Debug
/Almotkaml.HR/Almotkaml.HR.Staco.Models/obj/Debug
/Almotkaml.HR/Almotkaml.HR.Staco.Mvc/obj/Debug
/Almotkaml.HR/Almotkaml.HR.Aldo.EntityCore/obj/Debug
/Almotkaml.HR/Almotkaml.HR.Aldo.EntityCore/obj/Debug
